* {
  margin: 0;
  padding: 0;
  color: white;
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

.section {
  width: 100%;
  height: auto;
}

#font-p {
  color: black;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
  list-style: none;
}

.h1-tag {
  color: black;
  width: 100%;
  height: auto;
  background-color: rgb(244, 241, 241);
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 1.5vw;
  font-family: "DM Serif Display", serif;
}

.h1-tag h1 {
  color: black;
  font-size: 2em;
  font-family: "DM Serif Display", serif;
}

/* --------------------------  Header Section  -------------------------- */

.header {
  width: 100%;
  background-color: black;
  color: white;
  padding: 10px 0;
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  left: 0;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-around;
  position: absolute;
  right: 4vw;
  align-items: center;
  padding: 0 20px;
}

.logo {
  font-size: 1.5em;
  margin-left: 50px;
}

#nav-menu {
  display: flex;
}

.navbar ul {
  display: flex;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  padding: 13px;
  transition: background-color 0.8s, color 0.3s;
}

.navbar ul li a.active {
  background-color: white;
  color: black;
}

.navbar ul li a:hover {
  background-color: white;
  color: black;
}

.navbar ul li a.active .icons {
  color: rgb(107, 98, 98);
}

.header .logo {
  font-size: 2rem;
}

.icons {
  margin-right: 8px;
}

.toggle .menu,
.toggle .cancel {
  font-size: 2em;
  cursor: pointer;
  display: none;
}

/* --------------------------   Home Section  -------------------------- */

.home-img-name {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0px;
  background-color: red;
  background-image: url("../img/bg1.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.home-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: -1;
}

.first_container {
  width: 100%;
  overflow: hidden;
  text-align: center;
  text-align: center;
  font-size: 30px;
}

.myname {
  margin: 0;
  font-family: "Noto Serif JP", serif;
  font-size: 2em;
  color: white;
}

.text-one {
  font-family: "Playwrite US Trad", cursive;
  display: block;
  margin-top: 20vh;
  font-size: 24px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  border-right: 2px solid black; /* Cursor effect */
  animation: blink-caret 0.75s step-end infinite;
}

.secont_container {
  background-color: #b9134f;
  width: 100%;
  height: auto;
  position: absolute;
  top: 4em;
  padding: 0 25px;
}

.btn-outer {
  width: 100%;
  height: auto;
  position: absolute;
  top: 450px;
  display: flex;
  justify-content: center;
}

.btn-box {
  display: flex;
  justify-content: space-between;
  width: 50.5rem;
  height: 3.5rem;
  margin: 0 25px;
}

.btn-box .btn {
  border: 1px solid white;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  font-size: 20px;
  font-family: "DM Sans", sans-serif;
  text-decoration: none;
  transition: color 0.8s;
  position: relative;
  overflow: hidden;
  z-index: 1; /* Ensure the text is above the ::before pseudo-element */
}

.btn1 {
  color: black;
}

.btn2 {
  color: white;
}

.btn1:hover {
  color: white;
}

.btn2:hover {
  color: black;
}

.btn::before {
  content: "";
  background: white;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensure the ::before pseudo-element is below the text */
  transition: height 0.8s;
}

.btn1::before {
  top: 0;
  border-radius: 0 0 20% 20%;
}

.btn2::before {
  bottom: 0;
  border-radius: 20% 20% 0 0;
  height: 0;
}

.btn1:hover::before {
  height: 0%;
}

.btn2:hover::before {
  height: 180%;
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(255, 255, 255);
  }
}

/* --------------------------   About Section  -------------------------- */

#about-section {
  /* background-color: goldenrod; */
  display: flex;
  gap: 5%;
}

.about-box {
  /* background-color: #b9134f; */
  min-width: 47.5%;
  height: auto;
  padding: 25px;
}

.about-left {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.inner-left {
  display: flex;
  gap: 5px;
}

.items-one {
  width: 50%;
  height: 250px;
  background-color: rgb(244, 241, 241);
  border-radius: 10px;
  padding: 10px;
}

.items-one .about-img {
  width: 100%;
  height: 100%;
  background-image: url("../img/about-img.jpg");
  background-size: cover;
  background-position: center;
}

.items-two {
  /* background-color: rgb(108, 92, 92); */
  border-radius: 10px;
  width: 100%;
  min-width: 50%;
  height: 250px;
  padding: 15px;
}

.items-two-p {
  width: 100%;
  height: 100%;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 5px;
}

.items-three {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.about-right .h1-tag {
  width: 100%;
  height: auto;
  background-color: rgb(244, 241, 241);
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 1.5vw;
}

.items-three .h1-tag h1 {
  font-size: 2em;
  font-family: "DM Serif Display", serif;
}

.items-three .items-three-p {
  /* background-color: rgb(230, 226, 226); */
  border-radius: 10px;
  padding: 10px;
  font-size: 1em;
}

.items-five {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.items-five-p {
  /* background-color: rgb(230, 226, 226); */
  border-radius: 10px;
  padding: 10px;
  font-size: 1em;
}

.items-five-p ul {
  padding-left: 20px;
}

.items-five-p ul li {
  color: black;
  font-family: "DM Sans", sans-serif;
}

.items-four {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.items-four .h1-tag {
  width: 100%;
  height: auto;
  background-color: rgb(244, 241, 241);
  border-radius: 10px;
  padding: 5px 15px;
  font-size: 1.5vw;
}

.skills-graph {
  /* background-color: rgb(230, 226, 226); */
  border-radius: 10px;
  padding: 10px;
  font-size: 1em;
}

.items-four ul li {
  margin-bottom: 5px;
}

.graph-box {
  background-color: wheat;
  border-radius: 10px;
  width: 100%;
  height: 10px;
}

.graph-box .graph-percentage-one {
  background-color: rgb(241, 166, 26);
  border-radius: 10px;
  width: 85%;
  height: 100%;
}

.graph-box .graph-percentage-two {
  background-color: rgb(241, 166, 26);
  border-radius: 10px;
  width: 75%;
  height: 100%;
}

.graph-box .graph-percentage-three {
  background-color: rgb(241, 166, 26);
  border-radius: 10px;
  width: 60%;
  height: 100%;
}

.graph-box .graph-percentage-four {
  background-color: rgb(241, 166, 26);
  border-radius: 10px;
  width: 75%;
  height: 100%;
}

.graph-box .graph-percentage-five {
  background-color: rgb(241, 166, 26);
  border-radius: 10px;
  width: 80%;
  height: 100%;
}

.graph-box .graph-percentage-six {
  background-color: rgb(241, 166, 26);
  border-radius: 10px;
  width: 50%;
  height: 100%;
}

/* --------------------------  Project Section -------------------------- */

#project-section {
  /* background-color: blue; */
  padding: 15px;
}

.my-project {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.project-one-detail {
  /* background-color: burlywood; */
  border-radius: 10px;
  width: 100%;
  height: auto;
  padding: 25px;
}

.project-one-title {
  background-color: rgb(244, 241, 241);
  font-size: 2em;
}

.project-one-detail ul {
  /* background-color: #83b4ff; */
  border-radius: 10px;
  width: 100%;
  height: auto;
  padding: 25px;
}

.project-one-detail ul li {
  margin: 5px;
}

.techology li,
span {
  color: black;
  font-family: "DM Sans", sans-serif;
}

.project-one-detail ol {
  padding-left: 25px;
  margin: 5px;
}

.project-one-detail ol li {
  padding: 3px;
  color: black;
  font-family: "DM Sans", sans-serif;
}

/* --------------------------  Certificate Section ---------------------- */

#certificate-section {
  /* background-color: brown; */
  padding: 85px 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.certificate-box {
  /* border: black solid; */
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5px;
  padding: 55px 0px;
  margin-top: 55px;
}

.certificate-container {
  background-color: #666;
  border-radius: 10px;
  width: 300px;
  height: 300px;
  padding: 25px;
}

.container {
  position: relative;
  width: 100%;
  height: auto;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgb(27, 0, 0);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.download-box {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  height: auto;
  margin-top: 15px;
  display: flex;
  justify-content: center;
}

.certificate-container .btn {
  background-color: black;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 12px 90px;
  cursor: pointer;
  font-size: 10px;
  text-decoration: none;
}

.certificate-container .btn:hover {
  padding: 12px 91px;
}
.download-box:hover {
  width: 95%;
}

/* --------------------------  Contact Section -------------------------- */

#contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #3e3e3e;
}

.contact-body {
  display: flex;
  width: 80%;
  max-width: 1200px;
  background-color: #3e3e3e;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.contact-body-item {
  flex: 1;
  padding: 50px;
}

.contact-body-item.left {
  display: flex;
  flex-direction: column;
}

.contact-icons {
  display: inline-flex;
}

.contact-icons .icon {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  cursor: pointer;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.contact-icons .icon span {
  position: relative;
  height: 35px;
  width: 35px;
  display: block;
  background-color: #fff;
  text-align: center;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
}

.contact-icons .icon:hover span i {
  color: #fff;
}

.contact-icons .icon span i {
  font-size: 20px;
  line-height: 40px;
  color: black;
}

.contact-icons .icon .tooltrip {
  position: absolute;
  top: 0px;
  background-color: #fff;
  font-size: 20px;
  padding: 10px 18px;
  border-radius: 25px;
  box-shadow: 0 10px 10px rgb(0, 0, 0, 0.1);
  color: #fff;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.contact-icons .icon:hover .tooltrip {
  top: -70px;
  opacity: 1;
  pointer-events: auto;
}

.contact-icons .icon .tooltrip::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 85%;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.contact-icons .icon:hover span,
.contact-icons .icon:hover .tooltrip {
  text-shadow: 0px -1px 0px rgb(0, 0, 0, 0.4);
}

.contact-icons .facebook:hover span,
.contact-icons .facebook:hover .tooltrip,
.contact-icons .facebook:hover .tooltrip::before {
  background: #3b5999;
}

.contact-icons .instagram:hover span,
.contact-icons .instagram:hover .tooltrip,
.contact-icons .instagram:hover .tooltrip::before {
  background: #e1306c;
}

.contact-icons .linkedin:hover span,
.contact-icons .linkedin:hover .tooltrip,
.contact-icons .linkedin:hover .tooltrip::before {
  background: #0a66c2;
}

.contact-title {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 46px;
  margin-bottom: 50px;
}

.contact-title span {
  color: #ea1d6f;
}

.contact-title:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 55px;
  height: 4px;
  background: #ea1d6f;
}

.app-contact {
  margin-top: 30px;
  font-size: 14px;
  color: #888;
}
.app-contact i {
  margin-right: 5px;
}

.contact-form {
  margin-top: 65px;
}

.contact-form-group {
  margin-bottom: 15px;
}

.contact-form-group .error-text {
  font-size: 14.5px;
  color: rgb(214, 50, 50);
  margin: 5px;
  letter-spacing: 2px;
  display: none;
}

.contact-form-group.message {
  margin-top: 40px;
}

.contact-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
  margin-left: 2px;
}

.contact-form-group .contact-form-control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #666;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.contact-form-control::placeholder {
  color: #666;
}

.contact-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  background: none;
  border: none;
  color: #ea1d6f;
  font-size: 15px;
  cursor: pointer;
  outline: none;
  padding: 10px;
}

.app-form-button:hover {
  color: #b9134f;
}

.error {
  border-bottom-color: rgb(214, 50, 50);
}

/* Responsive Styles */

@media (max-width: 960px) {
  .toggle .menu {
    display: block;
  }

  #nav-menu {
    position: fixed;
    right: -100%;
    top: 56px;
    margin-right: 10px;
    width: 250px;
    height: 400px;
    background-color: rgb(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    transition: right 0.3s;
  }

  .items {
    margin: 20px 0;
  }

  .toggle .menu {
    display: block;
  }

  .toggle.active .menu {
    display: none;
  }

  .toggle.active .cancel {
    display: block;
  }

  .navbar.active #nav-menu {
    right: 0;
  }
}

@media (max-width: 893px) {
  #home-section {
    background-position: center;
  }

  #about-section {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .h1-tag h1 {
    font-size: 4em;
  }

  .items-two-p {
    font-size: 3vw;
  }

  .about-right .h1-tag {
    font-size: 2.5vw;
  }

  .h1-tag {
    font-size: 2.5vw;
  }
}

@media (max-width: 517px) {
  #home-section {
    background-position: center;
  }

  .home-box {
    height: 45rem;
  }

  .myname {
    font-size: 1.5em;
  }

  .text {
    top: 50%;
    left: 50%;
    font-size: 15px;
  }

  .btn-outer {
    width: 100%;
    height: auto;
    position: absolute;
    top: 500px;
  }

  .certificate-section .h1-tag h1,
  .my-project .h1-tag h1 {
    font-size: 24.68px;
  }

  .contact-body-item {
    flex: 1;
    padding: 15px;
  }

  .contact-body-item .contact-icons i {
    font-size: 15px;
    margin: 5px;
  }

  .app-contact {
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .items-one {
    width: 50%;
    height: 147px;
  }

  .items-two {
    width: 100%;
    min-width: 50%;
    height: 147px;
    padding: 10px;
  }

  .home-box {
    height: 50rem;
  }
  .myname {
    font-size: 1.15em;
  }

  .first_container {
    padding-bottom: 85px;
  }

  .text {
    top: 40%;
    left: 50%;
    font-size: 12.5px;
  }

  .btn-outer {
    width: 100%;
    height: auto;
    position: absolute;
    top: 500px;
  }

  .contact-body {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 1200px;
    height: 85%;
    background-color: #3e3e3e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }

  .contact-body-item {
    flex: 1;
    padding: 10px;
  }

  .contact-title {
    font-size: 35px;
    margin-bottom: 0;
  }

  .contact-form {
    margin-top: 0;
  }

  .contact-body-item .contact-icons i {
    font-size: 15px;
    margin: 5px;
  }

  .app-contact {
    font-size: 10px;
  }

  .contact-icons {
    margin-top: 30px;
  }
}
